body {
 min-height: 670px;
 font-family: "Microsoft Yahei";
}
#navlist {
 position: absolute;
 top: 200px;
 width: 100%;
 height: 40px;
 list-style: none;
 z-index: 999;
}
#navlist li {
 float: left;
 width: 50%;
}
#navlist .prev {
 text-indent: -9999px;
 width: 40px;
 height: 40px;
 float: left;
 background: url(../images/slider-prev.png) 0 0 no-repeat;
 margin-left: 20px;
}
#navlist .next {
 text-indent: -9999px;
 width: 40px;
 height: 40px;
 float: right;
 background: url(../images/slider-next.png) 0 0 no-repeat;
 margin-right: 20px;
}
#mobilenavlist {
 position: absolute;
 top: 260px;
 width: 100%;
 height: 20px;
 list-style: none;
 z-index: 999;
}
#mobilenavlist li {
 float: left;
 width: 50%;
}
#mobilenavlist .prev {
 text-indent: -9999px;
 width: 20px;
 height: 20px;
 float: left;
 background: url(../images/mobile-slider-prev.png) 0 0 no-repeat;
 margin-left: 2px;
}
#mobilenavlist .next {
 text-indent: -9999px;
 width: 20px;
 height: 20px;
 float: right;
 background: url(../images/mobile-slider-next.png) 0 0 no-repeat;
 margin-right: 2px;
}
#top {
 height: 40px;
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 background-color: #FFF;
 border-bottom: 3px solid #3E5259;
 z-index: 10;
}
.topnav-left {
 float: left;
 list-style: none;
}
.topnav-left li {
 float: left;
 height: 40px;
 line-height: 40px;
 margin-right: 10px;
 color: #333;
}
.topnav-left li a {
 color: #333;
 text-decoration: none;
}
.topnav-left li a.sprit {
 padding-right: 10px;
 border-right: 1px solid #333;
}
.topnav-left li input {
 margin-right: 10px;
}
.searchbox {
 float: right;
 margin-left: 10px;
}
.searchbox input.inputtext {
 background: url("../images/search-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #FFF;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 0 30px 0 5px;
    width: 161px;
    margin: 10px 0;
    font-size: 12px;
    border-radius: 0;
}
.searchbox input.submit {
    float: left;
    height: 20px;
    margin-left: -24px;
    width: 24px;
    margin: 10px 0 10px -24px;
}
.links {
 float: right;
}
.links a {
 height: 20px;
 margin: 10px 5px;
 float: left;
 line-height: 20px;
 font-size: 14px;
}
.links a img {
 margin-right: 5px;
 float: left;
}

#head {
 position: absolute;
 top: 60px;
 left: 0;
 width: 100%;
}
.head-nav {
 list-style: none;
}
.head-nav li {
 float: right;
 height: 20px;
 background: url(../images/right-arrow.png) top right no-repeat;
 padding: 10px;
 margin: 0;
}
.head-nav li a {
 color: #FFF;
 line-height: 20px;
 font-size: 12px;
}

#subhead {
 position: absolute;
 top: 40px;
 left: 0;
 width: 100%;
 height: 120px;
 background: #EEEEEE;
}
.subhead-bg {
 background-image: url(../images/subbanner.png);
 background-size: 100% 100%;
 height: 120px;
}
.subhead-bg2 {
 background-image: url(../images/subbanner2.png);
 background-size: 100% 100%;
 height: 120px;
}
.subhead-bg3 {
 background-image: url(../images/subbanner3.png);
 background-size: 100% 100%;
 height: 120px;
}
.subhead-bg4 {
 background-image: url(../images/subbanner4.png);
 background-size: 100% 100%;
 height: 120px;
}
.subhead-bg5 {
 background-image: url(../images/subbanner5.png);
 background-size: 100% 100%;
 height: 120px;
}
.subhead-bg6 {
 background-image: url(../images/subbanner6.png);
 background-size: 100% 100%;
 height: 120px;
}
.subhead-bg7 {
 background-image: url(../images/subbanner7.png);
 background-size: 100% 100%;
 height: 120px;
}
.subhead-bg8 {
 background-image: url(../images/subbanner8.png);
 background-size: 100% 100%;
 height: 120px;
}
.subhead-nav {
 padding-top: 20px;
}
.head-nav {
 list-style: none;
}
.head-nav li {
 float: right;
 height: 20px;
 background: url(../images/right-arrow.png) top right no-repeat;
 padding: 10px 15px 10px 10px;
 margin: 0;
}
.head-nav li a {
 color: #FFF;
 line-height: 20px;
 font-size: 12px;
 display: block;
}
#infobox {
 height: 220px;
 position: fixed;
 bottom: 60px;
 width: 100%;
 background: #FFF;
}
.infobox {
 margin-top: 10px;
}
.infoboxtitle {
 width: 100%;
 height: 30px;
 background: url(../images/infoboxtitle-bg.png) 0 0 repeat-x;
}
.infoboxtitle img {
 float: left;
}
.infoboxtitle a {
 float: right;
 line-height: 30px;
 font-size: 12px;
 background: #FFF;
 padding: 0 5px;
}
.infobox ul {
 list-style: none;
}
.infobox ul li a {
 width: 100%;
 overflow: hidden;
 height: 20px;
 line-height: 20px;
 font-size: 12px;
 float: left;
 color: #233b2a;
}
.infobox-speciallink {
 float: left;
 padding: 8px;
 line-height: 20px;
 margin: 10px 0;
 font-size: 12px;
 width: 90%;
 border-bottom: 1px solid #CCC;
}
.infobox-speciallink img {
 width: 40px;
 height: 40px;
 float: left;
 margin-right: 10px;
}
.exlinks {
 border-top: 1px solid #CCC;
 margin-top: 10px;
 text-align: center;
 padding-top: 5px;
}
.exlinks a {
 padding: 4px 8px;
 font-size: 12px;
}
.exlinks a:hover {
 background: #CCC;
 border-radius: 4px;
}

.slider {
 height: 120px;
 margin-top: -120px;
 width: 100%;
 display: block;
 overflow: hidden;
}
.slider ul {
 list-style: none;
 width: 100%;
 display: block;
 margin: 0;
 padding: 0;
}
.bigger {
 width: 40%;
 transition: width 0.5s linear;
}
.smaller {
 width: 20%;
 transition: width 0.5s linear;
}
.slider ul li {
 height: 120px;
 display: inline-block;
 margin: 0;
 float: left;
}
.slider ul li.fullitem {
 width: 40%;
}
.slider ul li.miniitem {
 width: 20%;
}
.slider ul li div.mini {
 height: 70px;
 background: url(../images/slider-bg.png) 0 0 no-repeat;
 background-size: 100% 100%;
 margin-top: 50px;
 float: left;
 width: 100%;
}

.slider ul .miniitem div.full {
 margin-top: 0!important;
 display: none;
}

.slider ul .fullitem div.mini-2 {
 margin-top: 0!important;
 display: none;
}
.slider ul li div.mini h3 {
 font-size: 14px;
 color: #FFF;
 line-height: 20px;
 padding: 15px 15px 0 15px;
 margin-bottom: 0;
 height: 20px;
 overflow: hidden;
}
.slider ul li div.mini span {
 font-size: 10px;
 line-height: 14px;
 color: #CCC;
 padding: 0 15px;
}
.mobileslider {
 width: 100%;
 list-style: none;
 overflow: hidden;
 padding: 20px 0;
 margin-bottom: 0;
}
.mobileslider li {
 float: left;
 width: 100%;
 display: none;
 color: #233b2a;
}
.mobileslider li.active {
 display: block;
}
.mobileslider li h3 {
 font-size: 14px;
 line-height: 20px;
 font-weight: 700;
 margin-bottom: 0;
}
.mobileslider li span {
 font-size: 12px;
 line-height: 16px;
 margin-bottom: 5px;
}
.mobileslider li div.fullmeta {
 font-size: 12px;
 line-height: 20px;
}
.full {
 height: 120px;
 width: 100%;
 background: url(../images/slider-bg.png) 0 0 no-repeat;
 background-size: 100% 100%;
}
.full img {
 float: left;
 width: 42%;
 margin: 4%;
}
.fulltext {
 width: 50%;
 float: right;
 margin-top: 10px;
}
.fulltext h3 {
 font-size: 14px;
 line-height: 20px;
 width: 100%;
 color: #FFF;
 margin-bottom: 0;
 height: 20px;
 overflow: hidden;
 letter-spacing：0rem;
}
.fulltext span {
 font-size: 10px;
 line-height: 14px;
 color: #CCC;
}
.fulltext div.fullmeta {
 font-size: 12px;
 line-height: 20px;
 color: #CCC;
 width: 90%;
 height: 60px;
 overflow: hidden;
}
#sub-content {
 position: absolute;
 top: 160px;
 width: 100%;
 background: #FFF;
 padding: 30px 0px 60px 0;
}
.sc-leftbar {
 margin-bottom: 20px;
 float: left;
}
.scl-nav {
 border: 1px solid #DDD;
 border-bottom: none;
 list-style: none;
 box-shadow: 2px 2px 2px #EAEAEA;
}
.scl-nav h3 {
 font-size: 16px;
 font-weight: 700;
 color: #FFF;
 line-height: 30px;
 background: #33513A;
 padding: 5px 20px;
 margin-bottom: 0;
}
.scl-nav li {
 font-size: 14px;
 color: #333;
 line-height: 30px;
 padding: 10px 30px;
 border-bottom: 1px solid #DDD;
 margin-bottom: 0;
}
.scl-nav li.active, .scl-nav li:hover {
 background: #EAEAEA;
}
.scl-nav li a {
 width: 100%;
 height: 100%;
 display: block;
 color: #333;
}
.scl-links {
 margin-bottom: 20px;
 float: left;
 width: 100%;
}
.scl-links-title {
 font-size: 14px;
 line-height: 20px;
 color: #33513A;
 margin-bottom: 10px;
}
.scl-links-title span {
 margin-left: 5px;
}
.scl-links-box {
 border: 1px solid #DDD;
 box-shadow: 2px 2px 2px #EAEAEA;
 float: left;
 padding: 10px 0;
 width: 100%;
}
.scl-links-box a {
 font-size: 12px;
 line-height: 20px;
 border-bottom: 2px solid #FFF;
 float: left;
 width: 50%;
 text-align: center;
 margin: 5px 0;
}
.scl-links-box a:hover {
 border-bottom: 2px solid #33513A;
}
.scl-links-box a.long {
 width: 100%;
}
.scm-nav {
 height: 30px;
 font-size: 12px;
 line-height: 30px;
 color: #999;
}
.scm-nav a {
 font-size: 12px;
 line-height: 30px;
 padding: 0 2px;
 color: #999;
}
.scm-nav a.cur {
 color: #59452A;
}
.scm-content {
 box-shadow: 2px 2px 2px #EAEAEA;
 border: 1px solid #EAEAEA;
 padding: 20px;
 float: left;
 background: #FFF;
}
.scm-content-title {
 float: left;
 border-bottom: 1px solid #CCC;
 width: 100%;
}
.scm-content-title span {
 float: left;
}
.scm-content-title span.cn {
 color: #1C2D1F;
 font-size: 32px;
 line-height: 55px;
 border-bottom: 4px solid #33513a;
}
.scm-content-title span.en {
 color: #A8D0D5;
 font-size: 28px;
 line-height: 55px;
 margin-left: 10px;
}
.scm-content-p {
 margin: 20px 0;
 float: left;
 width: 100%;
}
.scm-content-p p {
 margin-bottom: 20px;
 line-height: 20px;
 font-size: 12px;
 color: #333;
}
.scm-content-p p.algin-center {
 text-align: center;
}
.scm-content-p img {
 max-width: 500px;
 width: 100%;
 border: 2px solid #FFF;
 box-shadow: 2px 2px 2px #EAEAEA;
}
.scm-content-box {
 float: left;
 width: 100%;
}
.scm-content-box-odd {
 float: left;
 width: 100%;
 background: #F7F7F7;
 margin: 0 -20px;
 padding: 0 20px;
}
.scm-content-botx-title {
 text-align: center;
 font-size: 14px;
 line-height: 30px;
 color: #666;
 margin: 20px 0;
}
.scm-content-botx-title span {
 text-decoration:line-through; 
 color: #666;
 font-weight: 700;
 line-height: 30px;
}
.scm-content-box ul.item5 li, .scm-content-box-odd ul.item5 li{
 display: inline;
 width: 20%;
 float: left;
 text-align: center;
}
.scm-content-box ul.item5 li:hover, .scm-content-box-odd ul.item5 li:hover {
 background: #CDE5E8;
}
.scm-content-box ul.item5 li a, .scm-content-box-odd ul.item5 li a {
 font-size: 12px;
 line-height: 20px;
 color: #333;
}
.scm-content-box ul.item3 li, .scm-content-box-odd ul.item3 li{
 display: inline-block;
 width: 33%;
 float: left;
 text-align: center;
}
.scm-content-box ul.item3 li:hover, .scm-content-box-odd ul.item3 li:hover {
 background: #CDE5E8;
}
.scm-content-box ul.item3 li a, .scm-content-box-odd ul.item3 li a {
 font-size: 12px;
 line-height: 20px;
 color: #333;
}
.scm-content-box ul.item2 {
 width: 100%;
 list-style: none;
}
.scm-content-box ul.item2 li {
 width: 50%;
 display: inline;
 float: left;
}
.scm-content-box ul.item1 {
 list-style: none;
}
.scm-content-box ul.item1 li {
 width: 100%;
 float: left;
}
.historyevents li span.date {
 width: 10%;
 float: left;
 font-size: 12px;
 line-height: 20px;
}
.historyevents li span.event {
 float: left;
 font-size: 12px;
 line-height: 20px;
 width: 90%;
}
.leadership {
 width: 50%;
 list-style: none;
 float: left;
}
.leadership li {
 margin-bottom: 30px;
 display: inline-block;
}
.leadership li a {
 float: left;
}
.leadership img {
 width: 110px;
 height: 110px;
 border: 2px solid #FFF;
 float: left;
}
.leadership li a.meta {
 margin-top: 65px;
 min-width: 110px;
}
.leadership span.name {
 font-size: 14px;
 line-height: 20px;
 color: #333;
 padding-left: 20px;
}
.leadership span.position {
 font-size: 12px;
 line-height: 20px;
 color: #666;
 padding-left: 20px;
}
.coop_list {
 width: 100%;
 margin-bottom: 20px;
 border-top: 1px solid #CCC;
 padding-top: 10px;
}
.coop_list_item {
 width: 27%;
 margin: 3%;
 float: left;
}
.coop_list_item h3 {
 font-size: 14px;
 line-height: 20px;
 color: #333;
 margin-bottom: 10px;
 text-align: center;
}
.coop_list_item a {
 font-size: 12px;
 line-height: 20px;
 color: #666;
}
.coop_list_item_box {
 border-radius: 3px;
 border: 1px solid #CCC;
 box-sizing:border-box;
 padding: 20px;
 text-align: center;
}
.coop_list_item_box img.icon-small {
 width: 40px;
 height: 40px;
 box-shadow: none;
 display: inline;
}
.coop_list_item_box span {
 font-size: 12px;
 line-height: 20px;
 display: block;
}
.uplist {
 margin-top: 30px;
}

.footerbg {
 width: 100%;
 height: 138px;
 float: left;
 margin-top: -78px;
}
.footerbg-left {
 background: url(../images/bottom_left.png) top left no-repeat;
 float: left;
 width: 50%;
 height: 138px;
}
.footerbg-right {
 background: url(../images/bottom_right.png) top right no-repeat;
 float: left;
 width: 50%;
 height: 138px;
}
#footer {
 position: fixed;
 bottom: 0;
 left: 0;
 min-height: 52px;
 background: #233B2A;
 width: 100%;
 padding: 4px 0;
 z-index: 1000;
}
.text {
 font-size: 12px;
 color: #886e4a;
 line-height: 20px;
 padding: 3px 0;
}
.footerlinks a {
 height: 20px;
 float: right;
 color: #886e4a;
 line-height: 20px;
 padding: 3px 0;
 margin: 0;
 font-size: 12px;
 margin-left: 5px;
}
.linkitem {
 height: 20px;
 float: right;
 color: #886e4a;
 line-height: 20px;
 padding: 3px 0;
 margin: 0;
 font-size: 12px;
 margin-left: 5px;
 cursor: pointer;
}
.linkitem img {
 float: left;
}
.qr {
 display: none;
 position: relative;
 left: -30px;
 top: -150px;
}
.qr img {
 width: 100px;
 height: 100px;
 padding: 10px;
 background: #CCC;
 border-radius: 3px;
}

.menu-icon { position: absolute; display: none; z-index: 20; left: 30px; top: 7px; width: 28px; height: 28px; background: url(../images/menu.png); cursor: pointer; }
.mobile-menu { text-align: center; display: none; z-index:110; position: absolute; left: 0; top: 0; width: 150px; height: 105%; overflow: hidden; background-color: rgba(0, 0, 0, 0.75); filter: alpha(opacity=75); padding-top: 70px; color:#fff; min-height: 950px;}
.mobile-menu span a { color: #FFF;}
.mobile-menu ul { list-style: none;}
.mobile-menu>ul>li, .mobile-sub-menu>ul> li { padding: 0; margin: 0; }
.mobile-menu>ul>li span { height: 24px; line-height: 32px; cursor: pointer; }
.mobile-menu>ul>li:hover .mobile-sub-menu, .mobile-menu>ul>li.cur .mobile-sub-menu { display: block;  }
.mobile-sub-menu { display: none; }
.mobile-sub-menu>li a { height: 24px; line-height: 24px; font-size: 12px; color:#c19a7b; }
.mobile-sub-menu>li a:hover { color:#f1e5a4; }

.head-nav>li:hover { background: url(../images/topnav-cur.png) top right no-repeat;}
.head-nav>li:hover .top-sub-menu { display: block;  }
.top-sub-menu { display: none; position: absolute;margin-left:-10px; width: 200px; z-index: 1200;top: 20px;}
.subpage ul.top-sub-menu { top: 40px;}
.top-sub-menu>li { width: 100px;float:left;display: inline-block; padding: 5px 15px 5px 10px; background: url("../images/top-subnav-bg.png") 0 0 repeat-x;}
.top-sub-menu>li.blank, .top-sub-menu>li.blank:hover {height: 6px;background: none;}
.top-sub-menu>li:hover { background: url(../images/top-subnav-bg-hover.png) 0 0 repeat-x;}
.top-sub-menu>li a { line-height: 20px; font-size: 12px; color:#c19a7b; }
.top-sub-menu>li a:hover { color:#000; }