.content{
    width:100%;
    height: auto;
}
.AnnocePage{
   width:1086px;
   height: auto;
   margin: 20px auto;
}
.wrapper-nav{
    width:100%;
    height: 37px;
 
}
.nav-id{
    width:300px;
    float: left;
    line-height: 37px;
    text-align: left;
}
.nav-form{
    position: relative;
    right: 0;
    width:auto;
    height: 37px;
}
.nav-input{
    width:210px;
    height: 31px;
    float: right;
    margin: 3px 0px;
    margin-right: 20px;
    border: 1px solid #081116;
    border-radius: 10px;
    padding:0 20px;
}
.nav-submit{
  position: absolute;
  width:24px;
  height: 24px;
  right: 35px;
  top:5px;
  border:none;
  background: #fff;
  color: #081116;
}
.wrap-main{
    width:100%;
    height: auto;
    margin-top:20px;
}
.main-left{
   padding-right: 20px;
    min-height:430px;
    width: 270px;
  float: left;
  margin-bottom: 20px;
    background: url(../img/img/diver.png) no-repeat right top;
}
.main-left-part{
    width:100%;

}
.left-part-top{
    width: 100%;
    height:37px;
    border-bottom: 2px solid #E8E8E8; 
}
.left-part-top p{
    width: 100%;
    height: 20px;
    display: block;
    text-align: left;
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin-top:8px;
    border-left: 6px solid #194FA9;
}
.main-left-part ul{
    margin-top:10px;
    text-decoration: none;
    list-style: none;
     display: block;
     width:100%;
     height: auto;
}
.main-left-part ul li{
    width:100%;
    height:37px;
    
}
.main-left-part ul li a{
    width:85%;
    height: 37px;
    display: block;
    padding-left: 15px;
    line-height: 37px;
    text-align: left;
    color: #000;
    border-radius: 8px;
}