*{
    margin:0;
    padding: 0; 
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:"Microsoft yahei";
    font-size: 16px;
    line-height: 1.3;
    color: #000000;
   
}
.header{
    width: 100%;
    height: auto;
  
}
.banner{
    width:100%;
    height: 37px;
    background-color: #F5F5F5;
}
.banner-wrapper{
    width:1086px;
    height: 100%;
    margin: 0 auto;
}
.banner-wrapper_left{
    float: left;
       width:525px;
    height: 100%;
}
.banner-wrapper_right{
    float: right;
}
.banner-button{
    width:60px;
    height: 37px;
    float: left;
    border:none;
   /* background-color: #CC0808;
    color: #fff;*/
}
.banner-button:first-child{
    /*border-right:1px solid #DC4F31;*/
}

.header-wrap{
    height: 225px;
    width:100%;
    /* background: -webkit-linear-gradient(#1F3139, #fff); 
    background: -o-linear-gradient(#1F3139, #fff);   
    background: -moz-linear-gradient(#1F3139, #fff);    
    background: linear-gradient(#1F3139, #fff);    */
    background: url(../img/bgrond/background2-4.jpg) no-repeat;
    background-size: cover;

}
.logo{
    width:1086px;
    height:157px;
    margin: 0 auto;
    padding-top:20px;
    position: relative;
}
.logo-img1{
    display:block;
    width:148px;
    height: 126px;
    top:23px;
    left: 91px;
   position: absolute;
}
.logo-img2{
   width:1010px;
    height:144px;
    float: right;
}
.nav{
    width:100%;
    height: 48px;
    margin: 0 auto;
 
    background-color: #CC0808;
}
.nav-wrap{
    width:1086px;
    height:100%;
    margin: 0 auto;
}
.nav-wrap ul{
    text-decoration:none;
    list-style-type: none;
}
.nav-wrap ul li:first-child{
    border-left:2px solid #DC4F31;
}
.nav-li{
    height:48px;
    float: left;
    border-left:1px solid #DC4F31;
    border-right:1px solid #DC4F31;
    padding: 0 40px;
}
.nav-li:hover{
    background:#F02A2A;
    cursor: pointer;
}
.nav-li a{
    display: block;
    width:100%;
    height:48px;
    color: #fff;
    line-height:48px;
    font-size: 16px;
    font-weight: 500;
    font-family: '微软雅黑';
    -webkit-transition: color 3ms 5ms ease-in;
    -moz-transition:color 3ms 5ms ease-in;
    transition: color 3ms 5ms ease-in;
     -webkit-transition: font-size 3ms 5ms ease-in;
    -moz-transition:font-size 3ms 5ms ease-in;
    transition: font-size 3ms 5ms ease-in;
    -webkit-transition: font-weight 3ms 5ms ease-in;
    -moz-transition:font-weight 3ms 5ms ease-in;
    transition: font-weight 3ms 5ms ease-in;
 
}
.nav-li a:hover{
    color: #fff;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: #000000;
}
.footer{
    width: 100%;
    height: 300px;
    background-color:#EDEDED;
    float: left;
}
.footer-wrapper{
    width: 1086px;
    height: 100%;
    margin: 0 auto;
}
.footrt-link{
    width:100%;
    height: 50px;
}
.footrt-link ul{
    list-style: none;
    text-decoration: none;
     height: 30px;
}
.footrt-link ul li{
    width:243px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-top:45px;
    margin-left: 34px;
    border:1px solid #CDCDCD;
    overflow: hidden;
}
.footrt-link ul li:first-child{
        margin-left: 0px;
}
.footer-bottum{
    width: 100%;
    height: 180px;
    margin-top:70px;
    background-color:#1F3139;
}
.copyright{
    width:685px;
    height: 100%;
    float: left;
}
.copyright p{
    width:100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
}
.copyright p:first-child{
    margin-top:50px;
}
.erwema{
    width:325px;
    height: 100%;
    float: left;
}
.weixin{
    width:160px;
    height: 180px;
    float: left;
}
.weixin img{
    width:80px;
    height: 80px;
    margin-top:44px;
}
.weixin p{
    width: 100%;
    height: 25px;
    line-height: 25px;
        color: #fff;
}
.weixin1{
    width:160px;
    height: 180px;
    float: left;
    margin-left: 0px;
}
.weixin1 img{
    width:80px;
    height: 80px;
    margin-top:44px;
}
.weixin1 p{
    width: 100%;
    height: 25px;
    line-height: 25px;
        color: #fff;
}
@media (min-width:1400px) and (max-width:1600px){
    .siderbox{
    width:60px;
    height:240px;
    position: fixed;
    bottom: 30px;
    right:50px;
    background-color: #CC0808;
}
}
.siderbox{
    width:60px;
    height:240px;
    position: fixed;
    bottom: 20px;
    right:20px;
    background-color: #CC0808;
}
.siderbox ul{
    text-decoration: none;
    list-style: none;
}
.siderbox ul li{
    width:100%;
    height:39px;
    margin: 0;
    border-bottom: 1px solid #DC4F31;
    color: #ffffff;
    line-height: 39px;
}
.siderbox ul li:last-child{
    border:none;
}
.siderbox ul li p{
   color: #ffffff; 
   font-size: 12px;
}
.siderbox ul li:hover{
 background:#F02A2A;
}
