.login-in-wrap{
    width: 375px;
    margin:0 auto;
    margin-top: 115px;
    border:1px solid #999;
    box-shadow: #666 0px 0px 10px;
    }
.login-in-top{
    width: 375px;
    height: 80px;
     background-color: #fff;
    }
.login-in-top_left {
    display: block;
    padding: 27px 160px;
    font-size: 20px;
    color: #8A8A8A;
}
.login-in-top_right {
    position: relative;
    left: 322px;
    top: -72px;
    z-index: 1;
}
.login-in-Button--link {
    background: transparent !important;
}
.login-in-Button {
    position: absolute;
    left:24px;
    top:0px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    line-height: 20px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #7088a9;
    background: #e8ecf3;
    border: 0;
}
.login-in-contain{
    width: 100%;
    background-color: #E8ECF3;
    }

#login-in-main{
    width: 315px;
    margin: auto;
    padding: 26px;
}
.login-in-form-group {
    margin-bottom: 15px;
}    
.login-in-form-control {
    display: block;
    width: 92%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.login-in-btn {
    display: inline-block;
    padding: 13.4px 143px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.login-in-btn-default {
    color: #333;
    background-color: #4D698E;
    border-color: #ccc;
}
input::-ms-input-placeholder{text-align: center;}
input::-webkit-input-placeholder{text-align: center;}
input::input-placeholder { text-align: center }
input::-moz-placeholder {text-align: center;}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #7088A9;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #7088A9;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #7088A9;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #7088A9;
}
.login-in-foot {
    font-size: 13px;
    color: rgb(112, 136, 169);
    text-align: center;
    line-height: 3;
     background-color: #fff;
}
.login-in-foot a{
    text-decoration: initial;
    color: rgb(112, 136, 169);
}


#modal-backdrop{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #000;
    opacity: 0;
    background-size: cover;
}
#login-in{
    display: none;
    position: fixed;
    opacity:0;
    left: 50%;
    top:50%;
    z-index: 1023;
    width:375px;
    margin: -268px 0 0 -180px;
}