/* Shoutbox PHP tutorial for NETTUTS.com by DanHarper.me */

* {
margin: 0;
padding: 0;
}

body {
background: #323f66 top center url("../images/img/back.png") no-repeat;
color: #ffffff;
font-family: Helvetica, Arial, Verdana, sans-serif;
}

h1 {
font-size: 2em;
letter-spacing: 10px;
width: 303px;
margin: 0 auto;
color: #33ccff;
}

h2 {
font-size: 1em;
letter-spacing: -1px;
width: 150px;
color: #33ccff;
clear: both;
margin: 15px 0;
}

h5 a:link, h5 a:visited {
color: #ffffff;
text-decoration: none;
}

h5 a:hover, h5 a:active, h5 a:focus {
border-bottom: 1px solid #fff;
}

p {
font-size: 0.9em;
line-height: 1.3em;
font-family: Lucida Sans Unicode, Helvetica, Arial, Verdana, sans-serif;
}

p.error {
background-color: #603131;
border: 1px solid #5c2d2d;
width: 260px;
padding: 10px;
margin-bottom: 15px;
}

p.success {
background-color: #313d60;
border: 1px solid #2d395c;
width: 260px;
padding: 10px;
margin-bottom: 15px;
}

#container {
width: 664px;
margin: 20px auto;
text-align: center;
}

	#boxtop {
	margin: 30px auto 0px;
	background: url("../images/img/top.png") no-repeat;
	width: 663px;
	height: 23px;
	}
	
	#boxbot {
	margin: 0px auto 30px;
	background: url("../images/img/bot.png") no-repeat;
	width: 664px;
	height: 25px;
	}

	#content {
	margin: 0 auto;
	width: 664px;
	text-align: left;
	background: url("../images/img/bg.png") repeat-y;
	padding: 15px 35px;
	}
	
		#content ul {
		margin-left: 0;
		margin-bottom: 15px;
		}
		
		#content ul li {
		list-style: none;
		clear: both;
		padding-top: 30px;
		}
		
			#content ul li:first-child {
			padding-top:0;
			}
		
		
		.suggestion {
		width: 560px;
		float: left;
		margin-left: 15px;
		margin-top: 15px;
		min-height: 110px;
		padding: 5px;
		background-color:#313D60;
		border: 1px solid #2d395c;
		}
		
		form {
		clear: both;
		margin-top: 20px !important;
		}
		
			.fname, .femail,.contact {
			width: 444px;
			}
			
			form p {
			font-weight: bold;
			margin-bottom: 3px;
			}
			
			form textarea {
			width: 365px;
			overflow: hidden; /* removes vertical scrollbar in IE */
			}
		
			form input, form textarea {
			background-color: #313d60;
			border: 1px solid #2d395c;
			color: #ffffff;
			padding: 5px;
			font-family: Lucida Sans Unicode, Helvetica, Arial, Verdana, sans-serif;
			margin-bottom:10px;
			}
			
	.clear{
	clear:both;
	}