
.AnnocePage{
   width:1086px;
   height: auto;
   margin: 20px auto;
}
.main-left-part ul li:first-child a{
     background: #CC0808;
     color: #fff;
}


.main-right{
    width:758px;
    height:auto;
   float:left;
   margin-left: 15px;
}
.right-title{
    width:100%;
    height: 37px;
    border-bottom: 2px solid #E8E8E8; 
}
.right-title p{
    width:66px;
    height: 28px;
    line-height: 28px;
    display: block;
    padding-top: 5px;
    border-bottom:5px solid #194FA9;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #194FA9;
}
.right-wrap{
    width:100%;
    height: auto;
    margin-top:10px;
    text-decoration: none;
    text-align: left;
    list-style: none;
}
.right-wrap p{
    display:block;
    padding:20px 15px 40px;
    width: 758px;
    height: auto;
    font-size:14px;
    line-height: 1.5;
    letter-spacing: 2px;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


