 {{template "header.html" .}}
<!--content-->
<div class="content">
    <div class="AnnocePage">
        <div class="wrapper-nav">
            <div class="nav-id">
                <span class="nav-idnow">当前位置：
                            <a>{{.tree.Name}}</a>
                        </span>
            </div>
            <form class="nav-form">
                <input class="nav-input" value="请输入关键字" type="text" onfocus="if(value=='请输入关键字'){value=''}" onblur="if(value==''){value='请输入关键字'}"/>
<button type="submit" value="" class="nav-submit"><i class="fa fa-search fa-lg"></i></button>
</form>

</div>
<div class="wrap-main">
    <div class="main-left">
        <div class="main-left-part">
            <div class="left-part-top">
                <p>&nbsp;&nbsp;栏目导航</p>
            </div>
            <ul>
                {{left_same_level .tree.Top}}
            </ul>
        </div>
        <div class="left-part-top" style="margin-top:20px;">
<p>&nbsp;&nbsp;重点推荐</p>
</div>
</div>
<div class="main-right">
    <div class="right-title">
        <p>{{.tree.Name}}</p>
    </div>
    <div class="right-wrap">
        <div class="we_centent">
            {{raw .tree.Cout}}
        </div>
    </div>
</div>
</div>
</div>
</div>

<!--footer-->
{{template "footer.html" .}}
</div>
</body>

</html>