         {{template "header.html" .}}
        <!---content-->
         <div class="content">
             <div class="AnnocePage">
                <div class="wrapper-nav">
                    <div class="nav-id">
                        <span class="nav-idnow">当前位置：
                            <a>公示公告</a>
                        </span>
                    </div>
                    <form class="nav-form">
                      <input class="nav-input" value="请输入关键字" type="text" onfocus="if(value=='请输入关键字'){value=''}" onblur="if(value==''){value='请输入关键字'}"/>
                      <button type="submit" value="" class="nav-submit"><i class="fa fa-search fa-lg"></i></button>
                    </form>
        
                </div>
                <div class="wrap-main">
                    <div class="main-left">
                        <div class="main-left-part">
                            <div class="left-part-top">
                                <p>&nbsp;&nbsp;栏目导航</p>
                            </div>
                            <ul>
                                {{range .news}}
                                <li><a href="#"><i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{.Name}}</a></li>
                                {{end}}
                            </ul>
                        </div>
                       <div class="left-part-top" style="margin-top:20px;">
                                <p>&nbsp;&nbsp;重点推荐</p>
                            </div>
                    </div>
                    <div class="main-right">
                        <div class="right-title">
                            <p>公示公告</p>
                        </div>
                        <ul class="right-wrap">
                            <li>
                            {{range .news}}
                                <a>
                                <p>&diams;&nbsp;&nbsp;{{.Name}}</p>
                                <span>{{time2014 .Utime}}</span>
                                </a>
                              {{end}}
                            </li>
                        </ul>
                        <div class="fenye">
                            页次：&nbsp;1/1&nbsp;每页25 &nbsp;总数1 &nbsp;首页 &nbsp;&nbsp;上一页&nbsp;&nbsp; 下一页 &nbsp;&nbsp;尾页&nbsp;&nbsp; 转到：
                            <select>
                                <option>第1页</option>
                            </select>
                        </div>
                    </div>
                </div>
             </div>
         </div>
         
         <!---footer-->
    {{template "footer.html" .}}
    </body>
</html>