{{template "header.html" .}}
<!---content-->
<div class="content">
  <div class="AnnocePage">
    <div class="wrapper-nav">
      <div class="nav-id">
        <span class="nav-idnow">当前位置：<a>项目管理</a></span>
      </div>
    </div>
    <div class="wrap-main">
      <div class="main-left">
        <div class="main-left-part">
          <div class="left-part-top">
            <p>&nbsp;&nbsp;栏目导航</p>
          </div>
          <ul>
            <li>
              <a href="/Manager/Declare">
                <i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 项目申报
              </a>
            </li>
            <li>
              <a href="/Manager/Check">
                <i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 项目中检
              </a>
            </li>
            <li>
              <a href="/Manager/Done">
                <i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 项目结题
              </a>
            </li>
            <li>
              <a href="/Manager/List">
                <i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 项目状态查询
              </a>
            </li>
            <li>
              <a href="/Manager/DownLoad">
                <i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 表格下载
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-right">
        <div class="right-title">
          <p>项目结题</p>
        </div>
        <div class="right-wrap">
          <table border="0" class="manager-table">
            <tbody>
              <tr>
                <td align="right" style="width: 266px;">
                  项目结题申请书上传：
                </td>
                <td align="left">
                  <input name="name" type="text" maxlength="20" style="width:400px">
                </td>
              </tr>
              <tr>
                <td align="right" style="width: 266px;">
                  研究报告上传：
                </td>
                <td align="left">
                  <input name="name" type="text" maxlength="20" style="width:400px">
                </td>
              </tr>
              <tr>
                <td align="right" style="width: 266px;">
                  实施方案上传：
                </td>
                <td align="left">
                  <input name="name" type="text" maxlength="20" style="width:400px">
                </td>
              </tr>
              <tr>
                <td align="right" style="width: 266px;">
                  其他成果上传：
                </td>
                <td align="left">
                  <input name="name" type="text" maxlength="20" style="width:400px">
                </td>
              </tr>
              <tr>
                <td align="center" colspan="2">
                  <input type="submit" value="提交申请" id="submitbtn" class="btn">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!---footer-->
{{template "footer.html" .}}
</body>

</html>