<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=gbk">
    <meta name="keyword" content="天预报代码，天气预报代码调用。天气预报模块">
    <title>公示公告</title>
    <link rel="stylesheet" href="/static/css/h-f.css">
    <link rel="stylesheet" href="/static/css/AnnocePage.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/f-content-left.css">
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
</head>

<body>
    <!--header-->
    <div class="header">
        <div class="banner">
            <div class="banner-wrapper">
                <div class="banner-wrapper_left">
                    <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=11" width="500" height="15" style="height:15px;line-height:15px;margin-top:12px;" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
<div class="banner-wrapper_right">
    <a href="/"><button class="banner-button">首页</button></a>
    <button class="banner-button">登入</button>
</div>
</div>
</div>
<div class="header-wrap">
    <div class="logo">
        <img src="/static/img/logo/logo58.png" class="logo-img1" />
        <img src="/static/img/logo/logo0629.gif" class="logo-img2" />
    </div>
    <div class="nav">
        <div class="nav-wrap">
            <ul>
                {{nav "index"}}
            </ul>
        </div>
    </div>
</div>
</div>