<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=gbk">
    <meta name="keyword" content="天预报代码，天气预报代码调用。天气预报模块">
    <title>公示公告</title>
    <link rel="stylesheet" href="/static/css/h-f.css">
    <link rel="stylesheet" href="/static/css/AnnocePage.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/f-content-left.css">
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
</head>

<body>
    <!--header-->
    <div class="header">
        <div class="banner">
            <div class="banner-wrapper">
                <div class="banner-wrapper_left">
                    <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=11" width="500" height="15" style="height:15px;line-height:15px;margin-top:12px;"
                        frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <div class="banner-wrapper_right">
                    <button class="banner-button">登入</button>
                    <button class="banner-button">注册</button>
                </div>
            </div>
        </div>
        <div class="header-wrap">
            <div class="logo">
                <img src="/static/img/logo/logo58.png" class="logo-img1" />
                <img src="/static/img/logo/logo0629.gif" class="logo-img2" />
            </div>
            <div class="nav">
                <div class="nav-wrap">
                    <ul>
                        <li class="nav-li"><a href="#">本院简介</a></li>
                        <li class="nav-li"><a href="#">项目管理</a></li>
                        <li class="nav-li"><a href="#">公示公告</a></li>
                        <li class="nav-li"><a href="#">文件下载</a></li>
                        <li class="nav-li"><a href="#">留言板</a></li>
                        <li class="nav-li"><a href="#">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>